<div class="container m-auto">
  <h1 class="font-mono mb-4 text-red-400 ">Home</h1>
  <p class="text-m">Find me in app</p>
  
  <%# <%= render_svg 'icons/edit', styles: "fill-current text-purple-500 w-4 h-4 " %> 
</div>